.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
  user-select: none;
}

.left {
  display: flex;
  align-items: center;
  padding-left: 32px;
  gap: 24px;
  max-width: 500px;

  @include phone {
    padding-left: 8px;
    gap: 8px;
  }
}

.navs {
  display: flex;
  align-items: center;
  gap: 24px;

  @include phone {
    display: none;
  }
}

.nav {
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-text-primary);
  padding: 0 16px;
}

.nav_active {
  background-color: var(--color-bg-soft);
  border-radius: 8px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--color-accent);
}


.logo_full {
  display: block;
  @include response-width(0, 430px) {
    display: none;
  }
}

.logo_short {
  display: none;
  @include response-width(0, 430px) {
    display: block;
  }
}

.nav_drawer_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav_drawer_item {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-primary);
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.nav_drawer_item_active {
  background-color: var(--color-bg-soft);
  color: var(--color-accent);
}
